html{
    font-size:62.5%; 
    /* the above code makes 1 rem equal 10 pixels */
    scroll-behavior: smooth;
}
*{
    margin: 00;
    padding: 00;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about_part{
    height: 100vh;
    width: 100vw;
}
.about_main{
    /* border: 3px solid black; */
    display: flex;
    height: 90%;
    width: 100%;
}
.about_img{
    width: 50%;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_img img{
    width: 80%;
    height: 80%;
    animation: slideLeft 1s;
}
.about_context{
    width: 50%;
    /* border: 2px solid red; */
    padding: 1rem;
    padding-top: 20px;
    animation: slideRight 1s;
}
.about_header{
    font-size: 7rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_about{
    display: flex;
    text-align: start;
    font-size: 4rem;
    font-weight: 400;
}

@media screen and (max-width:1250px) {
    .about_about{
        font-size: 3rem;
        margin: 2rem;
    }
    .about_header{
        font-size: 5.5rem;
        font-weight: 700;
    }
}
@media screen and (max-width:855px) {
    .about_about{
        font-size: 2.5rem;

    }
    .about_header{
        font-size: 4.5rem;
        font-weight: 650;
    }
    .about_main{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .about_context{
        animation: slideButtom 1s;
    }
    .about_img img{
        animation: slideButtom 1s;
    }
}
/* Sliding Animation */
/* For Smaller devices, animations are set from buttom to right;
Wherease for larger devices, sideways */
@keyframes slideLeft{
    0%{
        opacity: 00;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slideRight{
    0%{
        opacity: 00;
        transform: translateX(50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slideButtom{
    0%{
        opacity: 00;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
