html{
    font-size:62.5%; 
    /* the above code makes 1 rem equal 10 pixels */
    scroll-behavior: smooth;
}
/* font */
@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Regular'), local('GT-Walsheim-Pro-Regular'),
      url('GTWalsheimPro-Regular.woff2') format('woff2'),
      url('GTWalsheimPro-Regular.woff') format('woff'),
      url('GTWalsheimPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Bold'), local('GT-Walsheim-Pro-Bold'),
      url('GTWalsheimPro-Bold.woff2') format('woff2'),
      url('GTWalsheimPro-Bold.woff') format('woff'),
      url('GTWalsheimPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  /* Basic css codes for all elements using universal selector*/
  *{
      padding: 0;
      margin: 0;
      font-family: 'GT Walsheim Pro';
  }
  /* CSS code for parallax div */
  .parallax{
      /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/home_page_image.png) no-repeat; */
      background-image: url(../images/home_page_image.png);
      background-size: cover;
      object-fit: cover;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      /* config for parallax scrolling effect */
      background-attachment: fixed;
      /* background-position: center; */
      background-size: cover;
      overflow: hidden; 
  }
  /* CSS codes for content-wrapper */
  .content-wrapper{
      width: 40vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 1.5;
  }
  /* CSS codes for H1 heading present inside content-wrapper */
  .content-wrapper h1{
      color: white;
      font-size: 7rem;
      font-weight: 600;
      letter-spacing: 0.3rem;
      /* text-shadow:0 0.3rem 0.5rem rgba(0,0,0,0.4); */
      opacity: 0;
      -webkit-text-fill-color: hsla(0,0%,100%,0);
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: hsla(0,0%,100%,.836);
  
      animation: moveBanner 1s 0.7s forwards;
  }
  /* CSS codes for H2 heading present inside content-wrapper */
  .content-wrapper h2{
      color: white;
      font-size: 5rem;
      font-weight: 400;
      text-transform: uppercase;
      text-shadow:0 0.3rem 0.5rem rgba(0,0,0,0.4);
      opacity: 0;
      animation: moveBanner 1s 0.5s forwards;
  }
  /* CSS codes for the button present inside content-wrapper */
  .content-wrapper button{
      width: 10vw;
      padding: 1.25rem;
      background: transparent;
      border: 2px solid white;
      border-radius: 12px;
      color: white;
      font-size: 1.75rem;
      font-weight: 500;
      text-transform: uppercase;
      opacity: 0;
      animation: moveBanner 1s 0.9s forwards;
      overflow: hidden;
  }
  /* Hover CSS codes for content-wrapper */
  .content-wrapper button:hover{
      background: rgba(255, 255, 255, 0.7);
      color: rgba(0,0,0,0.7);
      text-shadow:0 0.3rem 0.5rem rgba(0,0,0,0.4);
      border: 2px solid rgba(256, 256, 256, 0.7);
      
      
  }
  /* CSS codes for content-header */
  .content-header{
      display: flex;
      flex-direction: row;
  }
  /* CSS codes for H3 heading present inside content-header */
  .content-header h3{
      color: white;
      font-size: 3.5rem;
      font-weight: 300;
      padding: 1rem;
      text-shadow:0 0.3rem 0.5rem rgba(0,0,0,0.4);
      opacity: 0;
      animation: moveBanner 1s 0.3s forwards;
  }
  /* CSS animation for the content present inside the content wrapper */
  @keyframes moveBanner {
      0%{
          transform: translateY(40rem);
      }
      100%{
          transform: translateY(0) rotate(0);
          opacity: 1;
      }
  }
  /* CSS code for social-icons div present inside parallax div */
  .social-icons{
      position: absolute;
      left: 0.5rem;
      bottom: 5rem;
      display: flex;
      flex-direction: column;
  }
  /* CSS code for social icons present inside social-icon div */
  .social-icons i{
      color: white;
      font-size: 3rem;
      padding: 1rem;
      text-shadow:0 0.3rem 0.5rem rgba(0,0,0,0.4);
  }
  
  /* CSS hover animation for social icons */
  .social-icons i:hover{
      color: #F90716;
  }

  /* media-query section */

@media (max-width: 1500px){
    .content-wrapper{
        width: 45vw;
    }
}

@media (max-width: 1350px){
    .content-wrapper{
        width: 55vw;
    }

    .content-wrapper button {
        width: 15vw;
    }
}

@media (max-width: 1100px){
    .content-wrapper{
        width: 65vw;
    }
}

@media (max-width: 950px){
    .content-wrapper{
        width: 75vw;
    }

    .content-wrapper button {
        width: 20vw;
    }
}

@media (max-width: 850px){

    .content-wrapper{
        line-height: 2;
    }

    .content-wrapper h1{
        -webkit-text-stroke-width: 1px;
    }

    .content-wrapper{
        width: 80vw;
    }

}

@media (max-width: 755px){
    .content-wrapper h2{
        font-size: 4.5rem;
    }
    .content-wrapper h1{
        font-size: 6rem;
    }

    .content-header h3{
        font-size: 3rem;
    }

}

@media (max-width: 665px){
    .content-wrapper h2{
        font-size: 3.5rem;
    }
    .content-wrapper h1{
        font-size: 5rem;
    }

    .content-header h3{
        font-size: 2.5rem;
    }
    .content-wrapper button {
        width: 22.5vw;
        font-size: 1.5rem;
    }
}

@media (max-width: 555px){
    .content-wrapper h2{
        font-size: 2.5rem;
    }
    .content-wrapper h1{
        font-size: 4rem;
    }

    .content-header h3{
        font-size: 1.75rem;
        padding: .5rem;
    }

    .content-wrapper button {
        width: 30vw;
        font-size: 1.25rem;
    }
    
}

@media (max-width: 375px){
    .content-wrapper h2{
        font-size: 1.75rem;
    }
    .content-wrapper h1{
        font-size: 3.25rem;
    }

    .content-header h3{
        font-size: 1.55rem;
        padding: .25rem;
    }

    .content-wrapper button {
        width: 35vw;
        font-size: 1.25rem;
    }

    .social-icons i{
        font-size: 2.5rem;
    }
    
}
  