                        * {
                            margin: 0;
                            padding: o;
                            box-sizing: border-box;
                        }
                        /* footer css start */
                        
                        footer {
                            margin-top: 10rem;
                            font-family: 'Open Sans', sans-serif;
                            clear: both;
                            background-color: #211b25;
                            color: #fff;
                            display: flex;
                            flex-direction: column;
                        }
                        
                        footer .footer-top {
                            display: flex;
                            justify-content: space-around;
                            flex-direction: row;
                            padding: 2rem 2rem;
                        }
                        
                        .footer-col-1 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: row;
                            width: 30vw;
                            margin-top: 2rem;
                        }
                        
                        .items {
                            flex-basis: auto;
                            height: 200px;
                            margin: 5px;
                        }
                        
                        footer .footer-col-2 li {
                            list-style: none;
                            font-size: .8rem;
                            margin-top: 1rem;
                            align-items: center;
                            line-height: 1rem;
                        }
                        
                        ul {
                            list-style: none;
                            padding-left: 0;
                        }
                        
                        .footer-col-2 {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            width: 25vw;
                            padding: 0 2rem;
                        }
                        
                        footer .footer-col-2 ul li {
                            margin: 10px, 0;
                        }
                        
                        .footer-col-2 li p {
                            display: inline;
                        }
                        
                        p {
                            margin: 0;
                            line-height: 1.5;
                        }
                        
                        .footer-col-3 {
                            width: 25vw;
                            padding: 0 2.5rem;
                        }
                        
                        .footer-col-3 input[type=email] {
                            background-color: #000;
                            color: #fff;
                            height: 2.6rem;
                            width: 16vw;
                            padding: 0 1rem;
                            border-radius: 0.3rem;
                            border: none;
                            outline: none;
                        }
                        
                        .footer-col-3 button {
                            background: #cfbd17;
                            height: 2.2rem;
                            width: 2.2rem;
                            transform: scale(1.25);
                            font-weight: 100;
                            border-radius: 4px;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            position: absolute;
                            margin: 2px;
                        }
                        
                        .footer-bottom {
                            background-color: #251a1e;
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 3rem;
                        }
                        
                        .footer-bottom button {
                            background-color: #251a1e;
                            color: #fff;
                            position: absolute;
                            height: 30px;
                            width: 30px;
                            right: 10px;
                            border-radius: 8px;
                            cursor: pointer;
                            outline: none;
                            border: none;
                        }
                        
                        footer a {
                            text-decoration: none;
                            background-color: #211B25;
                            color: #fff;
                        }
                        
                        footer h2 {
                            text-align: center;
                            margin-bottom: 0.8rem;
                        }
                        
                        footer li {
                            list-style: none;
                            font-size: .8rem;
                            margin-top: 1rem;
                            align-items: center;
                            line-height: 1rem;
                        }
                        
                        footer li span {
                            margin-left: 1rem;
                            justify-content: left;
                            cursor: pointer;
                        }
                        
                        footer hr {
                            border-color: #6d7c7c;
                            border-style: none;
                            border-top-style: dotted;
                            border-width: 4px;
                            width: 3rem;
                            margin: 1rem auto 1.5rem;
                        }
                        
                        .footer-col-1 span {
                            padding-left: 2px;
                        }
                        
                        .socio-icon {
                            font-size: 30px;
                            line-height: 60px;
                            color: white;
                        }
                        
                        .socio-icon:hover {
                            color: #000;
                            transition: 0.5s;
                        }
                        
                        @media (max-width: 968px) {
                            footer .footer-top {
                                display: flex;
                                flex-direction: column;
                            }
                            .footer-top .footer-col-1 {
                                width: 100vw;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                justify-content: space-even
                            }
                            .footer-top .footer-col-1 .items ul li span {
                                margin: auto;
                                width: 50%;
                            }
                            .footer-top .footer-col-2 {
                                margin-top: 2.5rem;
                                width: 100vw;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .footer-top .footer-col-2 ul li {
                                display: inline;
                                margin: 0 10px;
                            }
                            .footer-top .footer-col-2 ul p {
                                display: none;
                            }
                            .footer-top .footer-col-3 {
                                margin-top: 2.5rem;
                                width: 100vw;
                                text-align: center;
                            }
                            .footer-top .footer-col-3 p {
                                margin-left: -2rem;
                            }
                            .footer-top .footer-col-3 input[type=email] {
                                width: 76vh;
                            }
                            .footer-top .footer-col-3 .btn {
                                margin-top: -2rem;
                                margin-left: 8rem;
                            }
                        }
                        /* footer css end */