*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    /* background-image:url(https://github.com/E-cell-Website-NITS/E-Cell-Website-/blob/main/images/home_page_image.png?raw=true); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}
.navbar{
    background-color: black;
    color: white;
    position: -webkit-sticky;
	position: sticky;
	top: 0%;
    
        /* opacity: 0.5; */
      
}

.navbar ul{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.navbar li{
    list-style: none;
    padding:13px;
    margin:5px;
}
.navbar li a{
    text-decoration: none;
    font-size: 1.2rem;
    padding:13px 12px;
    /* color: #262ccf; */
    color: white;
}
.navbar li a:hover{
    color:rgb(253, 253, 253);
}

@media only screen and  (max-width: 768px) {
    .navbar ul{
        height:500px;
      flex-direction: column;
      text-align: center;
    }
    .navbar li {
      width:100%;
      text-align: center;
    }
  }
  .img{
      width:70px;
      /* height:34px; */
  }
  .hamburger {
    display: none;
}
  /* .icon {
    display: none;
} */

.bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    
}
@media only screen and (max-width: 768px) {
    .navbar ul {
        position: fixed;
        left: -100%;
        top: 4rem;
        
        flex-direction: column;
        background-color: rgb(7, 4, 4);
        width: 100%;
        border: solid black;
        /* border-radius: 10px; */
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navbar ul.active {
        left: 0;
    }

    .navbar ul li {
        /* margin: 2.5rem 0; */
        margin:2px 0;
    }
    .navbar li a{
        font-size: 25px;
        font-weight:550px;
        font-style:normal;
        /* font-family:sans-serif; */
    }

    .hamburger {
        /* display: block; */
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        cursor: pointer;
        height:4rem;
        top:3%
    }
    .ham-bar{
        margin:10px 15px;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}